#Output files
target/output/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### VisualStudioCode ###
.vscode/

# System ignore
.DS_Store
